{% extends 'buyer/base.html' %}
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
{% block content %}
<div class="container" style="background-color: #ffffff; width: 500px;">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today</legend>
            {{ form1|crispy }}
            {{ form2|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>
    <script>
        $( function() {
          $( "#id_dob" ).datepicker({
              changeMonth: true,
              changeYear: true,
              yearRange: "1990:2017",
          })
        } );
    </script>
    <div class="border-top pt-3">
        <small class="text-muted"><a class="ml-2" href="{% url 'login' %}">Already have an account?</a> </small>
    </div></div>
    </div>
{% endblock %}