{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>COLLEGE MART</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="{% static 'buyer/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'buyer/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'buyer/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'buyer/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'buyer/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'buyer/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'buyer/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'buyer/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'buyer/main.css' %}">
</head>
<body>
<div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top" style="background-color:green;">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
              <form action="" class="site-block-top-search">
                <span class="icon icon-search2"></span>
                <input type="text" class="form-control border-0" placeholder="Search">
              </form>
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">

                <h1>College Mart</h1>

            </div>

            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <li><a href="{% url 'view_profile' %}"><span class="icon icon-person"></span></a></li>
                  <li>
                    <a href="{% url 'cart:cart_detail' %}" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <span class="count">0</span>
                    </a>
                  </li>
                  <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
      <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li><a href="{% url 'buyer:home' %}">Home</a></li>
            <li><a href="{% url 'buyer:about' %}">About</a></li>
            <li><a href="{% url 'buyer:shop' %}">Shop</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'buyer:home' %}">COLLEGE MART</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'buyer:home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'buyer:about' %}">About</a>
            </div>
            <div class="navbar-nav">
            </div>
          </div>
        </div>
      </nav>
    </header>
    {% block content %}{% endblock %}
  <script src="{% static 'buyer/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'buyer/js/jquery-ui.js' %}"></script>
  <script src="{% static 'buyer/js/popper.min.js' %}"></script>
  <script src="{% static 'buyer/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'buyer/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'buyer/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'buyer/js/aos.js' %}"></script>
  <script src="{% static 'buyer/js/main.js' %}"></script>
</body>
</html>