{% extends 'buyer/base.html' %}
{% load static%}
{% block content %}
<div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <center>
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="cart-title">
                                <h2>Checkout</h2>
                            </div>
                    </div>
                            
                    <div class="col-12 col-lg-4">
                        <div class="cart-summary">
                            <h5>Cart Total</h5>
                            <ul class="summary-table">
                                <li><span>Subtotal:</span> <span>₹{{ cart.get_total_price }}</span></li>
                                <li><span>Delivery:</span> <span>Free</span></li>
                                <li><span>Total:</span> <span>₹{{ cart.get_total_price }}</span></li>
                            </ul>
                            <form method='POST' action="{% url 'buyer:order' %}">
                            {% csrf_token %}
                            <div class="payment-method">
                                <!-- Cash on delivery -->
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="radio" class="custom-control-input" id="cod" name="mode" value='1' checked>
                                    <label class="custom-control-label" for="cod">Cash on Delivery</label>
                                </div>
                                <!-- Paypal -->
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="radio" class="custom-control-input" id="paypal" name="mode" value='2'>
                                    <label class="custom-control-label" for="paypal">Paytm <img class="ml-15" src="{% static 'img/core-img/paypal.png' %}" alt=""></label>
                                </div>
                            </div>

                            <div class="cart-btn mt-100">
                                <a href="" class="btn amado-btn w-100"><button type="submit">Pay Now</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </center>
    {% endblock %}