
body {
	background-color: #000;
}
html,
body {
	height: 100%;
}
.imagebg {
	background-image: url("1234.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-filter: blur(3px);
  filter: blur(3px);
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.formbox {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	/*margin-top:90px;
	margin-bottom: 30px;*/
	padding: 30px;
	background-color:transparent;
	color:white;
	position: relative;
	box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 20px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
	position: absolute;
	top: 50%;
	left: 50%;

	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.submitbtn {
	line-height: 48px;
	display: block;
	height: 48px;
	width: 100%;
	background-color:brown;
}
.form-container h3 {
	font-size: 42px;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: -46px;
}
