{% extends 'my template/demo_base.html' %}
{% load static %}
    {% block in_style %}
    <style>
        .col-lg-6,.col-lg-12,.col-lg-8,.col-lg-4 {
            color:darkslategrey;
        }

        input.transparent-input, textarea.transparent-input, select.transparent-input, option.transparent-input {
            background-color: #00000014;
            color: darkslategrey;
        }

    </style>
    {% endblock %}
    {% block script %}
    <script type="text/javascript">

        $(function () {
            $('#id_pname').addClass('form-control mb-4 transparent-input').attr("placeholder", "Product name");
            $("#id_category").addClass("form-control mb-4 transparent-input");
            $('#id_image').addClass('form-control-file transparent-input');
            $("#id_description").addClass("form-control mb-4 transparent-input").attr("placeholder", "Describe the product");
            $('#id_price').addClass('form-control mb-4 transparent-input').attr("placeholder", "Price of the product");
            $('#id_leasing_period').addClass('form-control mb-4 transparent-input').attr("placeholder", "leasing period");
            $('#id_pname1').addClass('form-control mb-4 transparent-input').attr("placeholder", "Product name");
            $("#id_category1").addClass("form-control mb-4 transparent-input");
            $('#id_image1').addClass('form-control-file transparent-input');
            $("#id_description1").addClass("form-control mb-4 transparent-input").attr("placeholder", "Describe the product");
            $("#id_price1").addClass("form-control mb-4 transparent-input").attr("placeholder", "Price of the product");

        });

    </script>
    {% endblock %}
{% block table %}
<div class="content" id="salead">
            <div class="animated fadeIn">
                <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header" style="background-color: #fbb710; color: white">
                                <strong>Add Product Selling</strong> Form
                            </div>
                            <div class="row form-group">
                                <div class="col-12 col-md-9">
                                        <button type="submit" class="btn btn-outline-secondary" onclick="lease()">
                                            Leasing Ad
                                        </button>
                                </div>
                                
                            </div>
                            <div class="card-body card-block">
                                <form action="{% url 'seller:saleform.home' %}" method="post" enctype="multipart/form-data" class="form-horizontal">
                                    {% csrf_token %}
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Product Name :</label></div>
                                        <div class="col-12 col-md-9">
                                            {{form3.pname}}
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Category :</label></div>
                                        <div class="col-12 col-md-9">
                                            {{form3.category}}
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Amount :</label></div>
                                        <div class="col-12 col-md-9">
                                                {{ form3.price }}
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="file-input" class=" form-control-label">Photo :</label></div>
                                        <div class="col-12 col-md-9">
                                                {{ form3.image }}
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">Description :</label></div>
                                        <div class="col-12 col-md-9">
                                                {{ form3.description }}
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <button type="submit" class="btn btn-outline-secondary">
                                            Submit
                                        </button>
                                    </div>
                                </form>
                            </div>

                    </div>
                </div>
        </div>
    </div>
<div class="content" id="leasead">
            <div class="animated fadeIn">
                <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header" style="background-color: #fbb710; color: white">
                                <strong>Add Product Leasing</strong> Form
                            </div>
                            <div class="row form-group">
                                <div class="col-12 col-md-9">
                                        <button type="submit" class="btn btn-outline-secondary" onclick="sale()">
                                            Selling Ad
                                        </button>
                                </div>
                            </div>
                            <div class="card-body card-block">
                                <form action="{% url 'seller:saleform.home' %}" method="post" enctype="multipart/form-data" class="form-horizontal">
                                    {% csrf_token %}
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Product Name :</label></div>
                                        <div class="col-12 col-md-9">
                                            {{form5.pname1}}
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Category :</label></div>
                                        <div class="col-12 col-md-9">
                                            {{form5.category1}}
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Amount :</label></div>
                                        <div class="col-12 col-md-9">
                                                {{ form5.leasing_period }}
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Amount :</label></div>
                                        <div class="col-12 col-md-9">
                                                {{ form5.price1 }}
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="file-input" class=" form-control-label">Photo :</label></div>
                                        <div class="col-12 col-md-9">
                                                {{ form5.image1 }}
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">Description :</label></div>
                                        <div class="col-12 col-md-9">
                                                {{ form5.description1 }}
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <button type="submit" class="btn btn-outline-secondary">
                                            Submit
                                        </button>
                                    </div>
                                </form>
                            </div>

                    </div>
                </div>
        </div>
    </div>
{% endblock %}
{% block finscript%}
<script>
function lease(){
    $('#salead').fadeOut(500);
    $('#leasead').delay(500).fadeIn(500);
}
function sale(){
    $('#leasead').fadeOut(500);
    $('#salead').delay(500).fadeIn(500);
}
function reload(){
    $('#salead').fadeIn(500)
    $('#leasead').fadeOut(500)
}
</script>
{% endblock %}
