{% extends 'buyer/base.html' %}
{% load static %}
{% block content %}
        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart-title mt-50">
                            <h2>Shopping Cart
                            <span class="badge pull-right">
                                {% with total_items=cart|length %}
                                    {% if cart|length > 0 %}
                                        My Shopping Order:
                                        <a href="{% url "cart:cart_detail" %}" style="color: #00000">
                                            {{ total_items }} item {{ total_items|pluralize }}, ₹{{ cart.get_total_price }}
                                        </a>
                                        {% else %}
                                        Your cart is empty.
                                    {% endif %}
                                {% endwith %}
                            </span>
                            </h2>
                        </div>

                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart %}
                                        {% with product=item.sproduct %}
                                            {% if product %}
                                    <tr>
                                        <td class="cart_product_img">
                                            <a href="#"><img src="{{ product.image.url }}" alt="Product" style="width:166px; height:166px;"></a>
                                        </td>
                                        <td class="cart_product_desc">
                                            <h5>{{ product.pname }}</h5>
                                        </td>
                                        <td class="price">
                                            <span>₹{{ product.price }}</span>
                                        </td>
                                        <td class="qty">
                                            <div class="qty-btn d-flex">
                                                <p>Qty</p>
                                                <div class="quantity">
                                                    <input type="number" class="qty-text" id="qty" step="1" min="1" max="{{ product.stock }}" name="quantity" value="{{ item.quantity }}">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="price">
                                            <a href="{% url "cart:cart_remove" product.id item.rec %}">Remove</a>
                                        </td>
                                    </tr>
                                            {% endif %}
                                        {% endwith %}
                                    {% endfor %}
                                    {% for item in cart %}
                                        {% with product=item.lproduct %}
                                            {% if product %}
                                    <tr>
                                        <td class="cart_product_img">
                                            <a href="#"><img src="{{ product.image1.url }}" alt="Product" style="width:166px; height:166px;"></a>
                                        </td>
                                        <td class="cart_product_desc">
                                            <h5>{{ product.pname1 }}</h5>
                                        </td>
                                        <td class="price">
                                            <span>₹{{ product.price1 }}</span>
                                        </td>
                                        <td class="qty">
                                            <div class="qty-btn d-flex">
                                                <p>Qty</p>
                                                <div class="quantity">
                                                    <input type="number" class="qty-text" id="qty" step="1" min="1" max="{{ product.stock }}" name="quantity" value="{{ item.quantity }}">
                                                </div>
                                            </div>
                                        </td>
                                        <td class="price">
                                            <a href="{% url "cart:cart_remove" product.id item.rec %}">Remove</a>
                                        </td>
                                    </tr>
                                            {% endif %}
                                        {% endwith %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cart-summary">
                            <h5>Cart Total</h5>
                            <ul class="summary-table">
                                <li><span>Subtotal:</span> <span>₹{{ cart.get_total_price }}</span></li>
                                <li><span>Delivery:</span> <span>Free</span></li>
                                <li><span>Total:</span> <span>₹{{ cart.get_total_price }}</span></li>
                            </ul>
                            <div class="cart-btn mt-100">
                                <a href="{% url 'buyer:checkout' %}" class="btn amado-btn w-100">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
{% endblock %}